.error-dialog {
    background-color: rgba(160, 1, 1, 0.62);
    overflow: hidden !important;
}

.error-dialog .sapMDialogScrollCont {
    overflow-y: hidden;
}

.error-dialog .error-dialog-top-text {
    color: rgb(64, 3, 3);
    text-shadow: -1px -1px 1px rgb(117, 17, 17), 2px 2px 1px #8A1B1B;
}

.error-dialog .error-dialog-error-text {
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 20pt;
    text-align: center;
    text-shadow: 3px 2px 0 #4E0808;
}

.error-dialog .error-dialog-scroll-container {
    height: 100px !important;
}

.error-dialog footer.sapMIBar.sapMFooter-CTX {
    height: 80px;
    border-top: 0;
    background-color: transparent;
}

.error-dialog .error-dialog-btn-ok {
    width: 250px;
    height: 80px;
    margin-right: 10px;
}

.error-dialog .error-dialog-btn-ok .sapMBtnInner {
    height: 70px;
    background-color: #400303;
    width: 250px;
}

.error-dialog .error-dialog-btn-ok .sapMBtnInner .sapMBtnContent {
    line-height: 70px;
    font-size: 15pt;
    width: 238px;
}

.error-dialog .sapMFooter-CTX .error-dialog-btn-ok.sapMBtn:hover > .sapMBtnHoverable:not(.sapMBtnActive) {
    background-color: rgb(39, 2, 2);
}

.error-dialog .sapMIBar-CTX.sapMFooter-CTX :not(.sapMBtnDisabled) > .sapMBtnActive {
    background-color: rgb(39, 2, 2);
    color: #ffffff;
    text-shadow: none;
}

.error-dialog.sapMDialog > .sapMDialogSection {
    overflow: hidden !important;
    background: transparent !important;
}

.error-dialog .sapContrast.sapMIBar.sapMFooter-CTX {
    background: transparent !important;
}

/* Custom, iPhone Retina */

@media only screen and (min-width: 0px) and (max-width: 480px) {
    .error-dialog .error-dialog-scroll-container {
        height: 70px !important;
    }

    .error-dialog .error-dialog-error-text {
        font-size: 15pt;
        text-shadow: initial;
    }

    .error-dialog .error-dialog-btn-ok {
        width: 100px;
    }

    .error-dialog .error-dialog-btn-ok .sapMBtnInner .sapMBtnContent {
        width: 69px;
        font-size: 11pt;
    }

    .error-dialog .error-dialog-btn-ok .sapMBtnInner {
        width: 89px;
    }

    .error-dialog .error-dialog-btn-ok,
    .error-dialog .error-dialog-footer {
        height: 50px;
    }

    .error-dialog .error-dialog-btn-ok .sapMBtnInner,
    .error-dialog .error-dialog-btn-ok .sapMBtnInner .sapMBtnContent {
        height: 40px;
        line-height: 40px;
    }
}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .error-dialog .error-dialog-scroll-container {
        height: 80px !important;
    }

    .error-dialog .error-dialog-error-text {
        font-size: 20pt;
        text-shadow: initial;
    }

    .error-dialog .error-dialog-btn-ok {
        width: 100px;
    }

    .error-dialog .error-dialog-btn-ok .sapMBtnInner .sapMBtnContent {
        width: 69px;
        font-size: 11pt;
    }

    .error-dialog .error-dialog-btn-ok .sapMBtnInner {
        width: 89px;
    }

    .error-dialog .error-dialog-btn-ok,
    .error-dialog .error-dialog-footer {
        height: 50px;
    }

    .error-dialog .error-dialog-btn-ok .sapMBtnInner,
    .error-dialog .error-dialog-btn-ok .sapMBtnInner .sapMBtnContent {
        height: 40px;
        line-height: 40px;
    }
}