.main-side-navigation {
  min-height: 100%;

  .sapTntNavLIItem {
    min-height: 4.5rem;
  }
}

.ui-dragg-dropp-tile {
  margin: 15px;

  .tile-piktogramm {
    .sapMImageContentImageIcon {
      max-width: 3rem;
    }
  }
}

.main-side-navigation.sapContrastPlus .sapTntNavLIItemSelected.sapTntNavLIGroupItem.sapTntNavLIGroupItem {
  background-color: #394958;
}

.app-main-container > div:not(:first-child) {
  margin-left: 20px;
}

.main-page-header.sapMTB-Transparent-CTX.sapMTB {
  padding-left: 0;
}

.app-main-item {
  .add-ewm-object.sapMNavItem {
    display: flex;
  }

  .sapMPage > .sapMPageHeader + section {
    top: 2.8rem;
  }

  .sapMNav {
    overflow-y: auto;
  }

  .add-ewm-object.sapMNavItem.sapMNavItemHidden {
    display: none;
  }
  // Transparent Header
  .main-page-header.sapContrastPlus.sapMTB.sapMTB-Transparent-CTX {
    background-color: transparent;
    max-height: 3.5rem;
    min-height: 3.5rem;
  }

  .main-page-header.sapContrastPlus.sapMTB {
    border: 0;
  }
  // Return and Close Button in Header of main Page
  .sapMBtnIcon {
    font-size: 2.5rem;
  }

  .sapContrastPlus.sapMTB-Transparent-CTX .sapMBtn:not(.sapMBtnDisabled) > .sapMBtnInner:not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized):not(.sapMBtnAccept):not(.sapMBtnReject):not(.sapMBtnActive):hover .sapContrastPlus .sapMBtnIcon {
    background-color: transparent;
    color: white;
  }

  .sapMBtnInner {
    text-shadow: initial;
  }

  .main-page-header .sapMText {
    color: #346187;
    font-size: 13pt;
  }

  .sapMBtnIcon {
    color: #346187;
  }
}

.sapContrastPlus.main-page-header.sapMTB-Transparent-CTX .sapMBtn:not(.sapMBtnDisabled) > .sapMBtnInner:not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized):not(.sapMBtnAccept):not(.sapMBtnReject):not(.sapMBtnActive):hover {
  background: transparent;
}
// Tile Container

.dragg-dropp-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
//Draggable-/Droppabletiles

.ui-draggable-dragging {
  opacity: 0.7;
}

.ui-droppable-hover {
  background-color: red;
  background-color: rgba(211, 32, 48, 0.75);

  .sapMGTHdrTxt {
    .sapMText {
      color: white;
    }
  }

  div {
    color: white;
  }
}
