<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">

  <title>{{app_name}}</title>

  <script id="sap-ui-bootstrap" src="{{app_resource}}" data-sap-ui-compatVersion="edge" data-sap-ui-preload="async" data-sap-ui-libs="sap.m" data-sap-ui-bindingSyntax="complex" data-sap-ui-xx-bindingSyntax="complex" data-sap-ui-theme="{{app_theme}}" data-sap-ui-resourceroots='{
            "{{namespace}}": "./"
         }'>
  </script>

  <script>
    sap.ui.getCore().attachInit(function() {
      sap.ui.require([
        "sap/ui/core/ComponentContainer"
      ], function(ComponentContainer) {
        sap.ui.component({
          async: true,
          name: "{{namespace}}"
        }).then(function(Component) {
          new ComponentContainer({
            component: Component
          }).placeAt("content");
        });
      });
    });
  </script>
</head>

<body class="sapUiBody" id="content">
</body>

</html>
